body {
	background-image: url(background.png);
	background-size: contain;
	background-repeat: repeat-x;
	font-family: Georgia;
}

h1 {
	font-family: Comic Sans MS;
	font-size: 60px;
	color: darkblue;
	text-align: center;
}

h3 {
	text-align: center;
}

h3 a {
	color: red;
}

/* h3 a:hover {
	color: red;
} */

h4 {
	text-align: center;
	font-style: italic;
}

p {
	text-align: center;
}

p.p-orange {
	color: orange;
}

p.p2 {
	line-height: 26px;
}

p.p2 a {
	font-weight:bold;
	text-decoration: none;
}